{% extends 'base.html.twig' %}

{% block title %}{{'Welcome'|trans}}!{% endblock %}

{% block body %}

<style>
  @charset "UTF-8";

  :root {
    --background: linear-gradient(30deg, #af7720 30%, #f1c40f);
    --background-select: linear-gradient(to left, #34495e 3rem, #2c3e50 3rem);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: var(--background);
    color: white;
  }


  .container {
    background-color: #fff;
    padding: 40px;
    color: #af7720;
    border-radius: 10px;
    box-shadow: 0 11px 36px rgba(0, 0, 0, 1);
    text-align: center;
  }

  /* Reset <select> defaults */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
  }

  select::-ms-expand {
    display: none;
  }

  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    color: white;
    width: 100%;
    background: var(--background-select);
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .select select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
  }

  select option {
    color: black;
  }

  .select::after {
    content: "▼";
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    transition: 0.25s all ease;
    pointer-events: none;
  }

  .select:hover::after {
    color: #f39c12;
    -webkit-animation: bounce 0.5s infinite;
    animation: bounce 0.5s infinite;
  }

  @-webkit-keyframes bounce {
    25% {
      transform: translatey(5px);
    }

    75% {
      transform: translatey(-5px);
    }
  }

  @keyframes bounce {
    25% {
      transform: translatey(5px);
    }

    75% {
      transform: translatey(-5px);
    }
  }
</style>

<div class="container">
  <label class="select">
    <select id="languageSelect">
      <option value="es" {% if app.request.getLocale() == 'es' %}selected{%endif%}>ES</option>
      <option value="en" {% if app.request.getLocale() == 'en' %}selected{%endif%}>EN</option>
    </select>
  </label>
  
  <div class="card">
    <h1>{{'Coming Soon'|trans}}</h1>
    <h2>{{'A new developer that you will be proud of'|trans}}</h2>
    <div class="countdown">

    </div>
  </div>
</div>


{% endblock %}


{%block javascripts %}
<script>
  document.getElementById("languageSelect").addEventListener("change", function () {
    let selectedValue = this.value;
    window.location.href = '/' + this.value;
  });
</script>

{%endblock%}