{% extends 'base.html.twig' %}

{% block title %}{{'Welcome'|trans}}!{% endblock %}

{% block body %}
<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        }

        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        .social-icons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 10px;
            color: #343a40;
            font-size: 1.5em;
            text-decoration: none;
            transition: color 0.3s;
        }

        .social-icons a:hover {
            color: #007bff;
        }
</style>

<div class="container">
    <select>
        <option value="es">ES</option>
    </select>
    <h1>{{'Coming Soon'|trans}}</h1>
    <p>{{'A new developer that you will be proud of'|trans}}</p>
    <div class="countdown">
        <!-- Aquí puedes poner un contador de cuenta regresiva si lo deseas -->
        <!-- Por ejemplo: <span id="countdown"></span> -->
    </div>
</div>


{% endblock %}
